[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bson = "==0.5.10"
decorator = "==4.4.2"
networkx = "==2.4"
numpy = "==1.18.4"
pandas = "==1.0.3"
psycopg2 = "==2.8.5"
python-dateutil = "==2.8.1"
pytz = "==2020.1"
scipy = "==1.4.1"
six = "==1.14.0"
text-unidecode = "==1.3"
click = "==7.1.2"
itsdangerous = "==1.1.0"
protobuf = "==3.12.2"
trumania = {editable = true, git = "https://github.com/RealImpactAnalytics/trumania.git", ref = "73928c8acee4972df7306c2afd568a7769930298"}
Faker = "==2.0.5"
SQLAlchemy = "==1.3.17"
Flask = "==1.1.2"
Flask-SQLAlchemy = "==2.4.3"
Jinja2 = "==2.11.2"
MarkupSafe = "==1.1.1"
Werkzeug = "==1.0.1"

[requires]
python_version = "3.7"
