bson==0.5.10
decorator==4.4.2
Faker==2.0.5
networkx==2.4
numpy==1.18.4
pandas==1.0.3
psycopg2==2.8.5
python-dateutil==2.8.1
pytz==2020.1
scipy==1.4.1
six==1.15.0
SQLAlchemy==1.3.17
text-unidecode==1.3
-e git+https://github.com/RealImpactAnalytics/trumania.git@73928c8acee4972df7306c2afd568a7769930298#egg=trumania
